<div id="items" class="transitions-enabled">
   
   <% @items.each do |item| %>
      <div class="box panel panel-default">
        <h5> &nbsp;&nbsp;&nbsp;&nbsp; 
          <strong><%= item.user.email if item.user %> </strong>
          <p>
          <p>
          <p> 
          <h4> &nbsp;&nbsp;&nbsp;&nbsp; 
            <%= link_to item.description, item %>
          </h4>
          <p>
          <p>
          <p> 
              &nbsp;&nbsp;&nbsp;&nbsp;
            <% if item.user == current_user%> 
                &nbsp;
              <span class="glyphicon glyphicon-pencil"></span>
              <%= link_to 'Edit', edit_item_path(item) %> 
                 
                  &nbsp;&nbsp;| &nbsp;&nbsp;
              <span class="glyphicon glyphicon-trash"></span>   
              <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;

              <p>
              <p>
            <% end %>
      </div>
    <% end %>

  

<br>
<% if user_signed_in? %>
  <%= link_to 'Add more', new_item_path, class: "btn btn-primary" %>

  <% else %> 
    <%= link_to 'Start your own list!', new_user_registration_path, class: "btn btn-primary" %>
<% end %>

</div>