<div id="items" class="transitions-enabled">
   
   <% @items.each do |item| %>
      <div class="box panel panel-default">
        <h5> &nbsp;&nbsp;&nbsp;&nbsp; 
          <%= item.user.email if item.user %> 
          <p>
          <p> 
          <h4> &nbsp;&nbsp;&nbsp;&nbsp; 
            <%= item.description %>
          </h4>
          <p>
          <p> 
              &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'Show', item %> |  
            <% if item.user == current_user%>
              <%= link_to 'Edit', edit_item_path(item) %> | 
              <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <span class="glyphicon glyphicon-trash"></span>
            <% end %>
      </div>
    <% end %>

  

<br>
<% if user_signed_in? %>
  <%= link_to 'Add more', new_item_path, class: "btn btn-primary" %>

  <% else %> 
    <%= link_to 'Start your own list!', new_user_registration_path, class: "btn btn-primary" %>
<% end %>

</div>