<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @item.description %>
</p>

<%= link_to 'Back to my list', items_path %>   |
	<%= link_to 'Edit', edit_item_path(@item) %> | 
	<%= link_to 'item', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>